.card__container {
    border-radius: 20px;
    background-color: #edf2f4;
    padding: 3rem;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    width: 100%;
    margin-right: 10rem;
    margin-bottom: 2rem;

    flex-direction: column;
}



.player__build {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    justify-content: center;
}

.right__section {
    flex-direction: column-reverse;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    justify-content: center;
    width: 100%;
    align-items: center;

}


.player__build .item__image {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
}

@media only screen and (min-width: 480px) {
    .card__container {
        width: 100%;
    }
}

@media only screen and (min-width: 750px) {
    .card__container {
        width: 100%;
    }

    .matches__section {
        margin-right: 1.5rem;
    }
}

@media only screen and (min-width: 1280px) {
    .card__container {
        width: 100%;
        flex-direction: row;
        gap: 2rem;

    }

    .matches__section {
        margin-right: 1.5rem;
    }



    .player__build img {
        height: 3rem;
        width: 3rem;
        cursor: pointer;
    }

    .player__build {
        align-items: flex-end;

    }
}

@media only screen and (min-width: 1400px) {
    .card__container {
        width: 100%;

    }

    .matches__section {
        margin-right: 1.5rem;
    }

}

.gamemode {
    color: #edf2f4;
}

.primary__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
    align-items: center;
    text-align: center;

}

.champion__images {
    width: 7rem;
    height: 7rem;
}

.pentakill {
    background-color: #ae2012;
    padding: 0.1rem 0.2rem;
    margin-top: -1rem;
}

.champion__level {
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.item__card {
    background-color: white;
    text-align: center;
}

.player__kda {
    margin-top: -2rem;
    font-size: 1rem;
    font-weight: bold;
}